<div class="container-fluid">
    <div class="row">
        <h1 id="titulo">Proyectos</h1>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img src="../../../assets/Portfolio.png" class="img-fluid" >
        </div>
        <div  id="info" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <ul>
            
                <li><h2 id="nombreE">Portfolio</h2> </li>
                <li><a id="relleno"><h3 id="año">2022</h3></a></li>
                <li><p>Portfolio realizado en angular partiendo desde cero mediante el programa Argentina Progama<p></li>
            
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img src="../../../assets/BANNER (2).png" class="img-fluid" >
        </div>
        <div  id="info" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <ul>
            
                <li><h2 id="nombreE">Proyecto2</h2> </li>
                <li><a id="relleno"><h3 id="año">2022</h3></a></li>
                <li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur non totam impedit sit. Magni veritatis animi sit repellat ipsum repellendus, suscipit deserunt asperiores tenetur modi saepe quae beatae doloribus esse!.</p></li>
            
            </ul>
        </div>
    </div>
</div>