<div class="container-fluid" >
    <div class="row">
        <div id="titulo" class="col-sm-9 col-md-9 col-lg-9">
            <h1>Hard - Soft Skills</h1>
        </div>
        <div id="titulo" class="col-sm-3 col-md-3 col-lg-3">
            <h1>Idiomas</h1>
        </div>
        <div  id="skills" class="col-sm-4 col-md-3 col-lg-3">
            <circle-progress
                [percent]="70"
                [radius]="60" 
                [space]="-20"
                [imageSrc]="'../../../assets/html.png'" 
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [outerStrokeGradient]="true" 
                [outerStrokeWidth]="20" 
                [outerStrokeColor]="'#00a8cc'" 
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#21243d'"
                [innerStrokeWidth]="20" 
                [title]="'Office'" 
                [titleColor]="'#21243d'" 
                [animateTitle]="false"
                [animationDuration]="1000"
                [showUnits]="false" 
                [startFromZero]="false" 
                [showSubtitle]="false"
            ></circle-progress>
        </div>
        <div  id="skills" class="col-sm-4 col-md-3 col-lg-3">
            <circle-progress
                [percent]="70"
                [radius]="60" 
                [space]="-20"
                [imageSrc]="'../../../assets/CSS.png'" 
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [outerStrokeGradient]="true" 
                [outerStrokeWidth]="20" 
                [outerStrokeColor]="'#00a8cc'" 
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#21243d'"
                [innerStrokeWidth]="20" 
                [title]="'Office'" 
                [titleColor]="'#21243d'" 
                [animateTitle]="false"
                [animationDuration]="1000"
                [showUnits]="false" 
                [startFromZero]="false" 
                [showSubtitle]="false"
            ></circle-progress>
        </div>
        <div  id="skills" class="col-sm-4 col-md-3 col-lg-3">
            <circle-progress
                [percent]="70"
                [radius]="60" 
                [space]="-20"
                [imageSrc]="'../../../assets/js.png'" 
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [outerStrokeGradient]="true" 
                [outerStrokeWidth]="20" 
                [outerStrokeColor]="'#00a8cc'" 
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#21243d'"
                [innerStrokeWidth]="20" 
                [title]="'Office'" 
                [titleColor]="'#21243d'" 
                [animateTitle]="false"
                [animationDuration]="1000"
                [showUnits]="false" 
                [startFromZero]="false" 
                [showSubtitle]="false"
            ></circle-progress>
        </div>
        <div  id="skills" class="col-sm-4 col-md-3 col-lg-3">
            <circle-progress
                [percent]="50"
                [radius]="60" 
                [space]="-20"
                [imageSrc]="'Ingles'" 
                [showImage]="false"
                [imageHeight]="70"
                [imageWidth]="70"
                [outerStrokeGradient]="true" 
                [outerStrokeWidth]="20" 
                [outerStrokeColor]="'#00a8cc'" 
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#21243d'"
                [innerStrokeWidth]="20" 
                [title]="'INGLES'"
                [titleColor]="'#21243d'" 
                [animateTitle]="false"
                [animationDuration]="1000"
                [showUnits]="false" 
                [startFromZero]="false" 
                [showSubtitle]="false"
            ></circle-progress>
        </div>
        <div  id="skills" class="col-sm-4 col-md-3 col-lg-3">
            <circle-progress
                [percent]="90"
                [radius]="60" 
                [space]="-20"
                [imageSrc]="'../../../assets/git.png'" 
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [outerStrokeGradient]="true" 
                [outerStrokeWidth]="20" 
                [outerStrokeColor]="'#00a8cc'" 
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#21243d'"
                [innerStrokeWidth]="20" 
                [title]="'Office'" 
                [titleColor]="'#21243d'" 
                [animateTitle]="false"
                [animationDuration]="1000"
                [showUnits]="false" 
                [startFromZero]="false" 
                [showSubtitle]="false"
            ></circle-progress>
        </div>
        <div  id="skills" class="col-sm-4 col-md-3 col-lg-3">
            <circle-progress
                [percent]="90"
                [radius]="60" 
                [space]="-20"
                [imageSrc]="'../../../assets/Autocad-Logo.png'" 
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="80"
                [outerStrokeGradient]="true" 
                [outerStrokeWidth]="20" 
                [outerStrokeColor]="'#00a8cc'" 
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#21243d'"
                [innerStrokeWidth]="20" 
                [title]="'Office'" 
                [titleColor]="'#21243d'" 
                [animateTitle]="false"
                [animationDuration]="1000"
                [showUnits]="false" 
                [startFromZero]="false" 
                [showSubtitle]="false"
            ></circle-progress>
        </div>
        <div  id="skills" class="col-sm-4 col-md-3 col-lg-3">
            <circle-progress
                [percent]="100"
                [radius]="60" 
                [space]="-20"
                [imageSrc]="'../../../assets/office.png'" 
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [outerStrokeGradient]="true" 
                [outerStrokeWidth]="20" 
                [outerStrokeColor]="'#00a8cc'" 
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#21243d'"
                [innerStrokeWidth]="20" 
                [title]="'Office'" 
                [titleColor]="'#21243d'" 
                [animateTitle]="false"
                [animationDuration]="1000"
                [showUnits]="false" 
                [startFromZero]="false" 
                [showSubtitle]="false"
            ></circle-progress>
        </div>
    </div>
</div>}
<!--
[imageSrc]=""
[showImage]="true"
[imageHeight]="50"
[imageWidth]="50"
-->