<div class="container-fluid">
    <div class="row">
        <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2 " ></div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 " id="descripcion">
            <p><strong> Me llamo Lautaro Brunetto, nací el 12 de diciembre de 1998. Soy una persona proactiva, me gusta mucho la tecnologia, los deportes de todo tipo y la pesca deportiva. Muy dedicado en lo que me propongo, con muchas ganas de aprender, constante y habil en la resuolucion de problemas. Me gusta el trabajo en equipo y los nuevos desafios.
            </strong></p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
            <ul id="social">
                <li><a href=""><img src="../../../assets/linkedin.png" id="linkedin"></a></li>
                <li><a href=""><img src="../../../assets/twitter.png" id="twitter"></a></li>
                <li><a href=""><img src="../../../assets/instagram.png" id="instagram"></a></li>
                <!--<li><a href=""><img src="../../../assets/github.png" id="github"></a></li>-->
                <li><a href=""><img src="../../../assets/facebook.png" id="facebook"></a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="contacto">
            <ul>
                <li>Contacto</li>
                <li>laubrunetto1998@gmail.com</li>
                <li>3424346989</li>
            </ul>
        </div>
    </div>
</div>
