#descripcion{
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 168, 204, 0.41);
    border-radius: 50px;
    margin-top: 5%;
    box-shadow: 10px 10px 20px gray;
       
}
#social{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
li{
   list-style: none;
}
#contacto{
    text-align: center;
    padding-top: 0px;
    
}

img{
    width: 35px;
    filter: brightness(100%);
}
a{
    margin-right: 15px;
    
}