#social{
    display: flex;
    justify-content: center;
    margin-top: 23px;
    float: right;
}
li{
   list-style: none;
}
#contacto{
    text-align: center;
    padding-top: 0px;
    
}

img{
    width: 35px;
    filter: brightness(10%);
}
a{
    margin-right: 10px;
    
}