<div id="div1" class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <app-logo-ap></app-logo-ap>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" >
            <app-social id="social"></app-social>
            
        </div>
        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1" >
            <a href="" id="boton"><p id="login">Login</p></a>
        </div>
        
    
    </div>
</div> 
<app-banner></app-banner>
       

