#div1 {
    background-color:#3EC6F1;
    height: 90px;
}

app-social{
    float: right;
    margin-top: 25px;  
}
#social{
    margin-right: 5%;
}

/* BOTON */
a{
    text-decoration: none;
}

#boton{
    position: absolute;
    width: 90px;
    height: 45px;
    left: 88%;
    top: 23px;
    background: black;
    border-radius: 50px;
}

#login{
    text-align: center;
    font-size:130%;
    margin-top: 5%;
    color: #FFFFFF;
}
#banner{
    width: 100%;
}