*{
    box-sizing: border-box;
}
#div1 {
    background-color:#3EC6F1;
}

/* BOTON */
a{
    text-decoration: none;
}

#boton{
    float: right;
    margin-top: 20px;
    width: 90px;
    height: 45px;
    background: black;
    border-radius: 50px;
    font-size:130%;
    color: #FFFFFF;
}

#banner{
    width: 100%;
}
@media (max-width: 575px){
    #social{
        float: left;
        margin: -20px -37px 0px;
        
        
    }
   }
   
   @media (max-width: 575px){
    #boton{
        margin: -120px 0px 10px -7px;
        float:right;
        

    }
    
   }
   @media (max-width: 319px){
    #boton{
        margin: -10px 0px 10px -7px;
        float:left;
        

    }
    
   }
   /*
   @media (max-width: 575px){
    #logo{
        
        margin-left: 20px;
        

    }
   }*/