<div id="div1" class="container-fluid">
    <div class="row">
        <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2" id="logo">
            <app-logo-ap></app-logo-ap>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-5">
            
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" >
            <app-social id="social"></app-social>
            
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1" >
            <button type="button" class="btn btn-primary" id="boton">Login</button>
            <!--<a href="" id="boton"><p id="login" class="img-fluid">Login</p></a>-->
        </div>
        
    
    </div>
</div> 

<app-banner></app-banner> 
        

       

